.header-container{
  font-family: "Segoe UI";
  text-shadow:darkgray 0 -2px;
  font-size: 50px;
  color: #433d3d;
  display: block;
  background: #ebf9f9;
  height: 120px;
  padding: 30px;
  position: auto;
  border: 1px solid;
}

.partlycloudy{
  width: 75px;
  height: auto;
}