.header-container{
  font-family: "Segoe UI";
  text-shadow: rgb(222, 240, 255) 0 -2px;
  font-size: 50px;
  color: #000000;
  display: block;
  background: linear-gradient(to left, rgb(185, 221, 240), rgb(164, 231, 252));
  height: 120px;
  padding: 30px;
  position: auto;
  border: 1px solid;
}

.Main{
  background: rgb(209, 234, 248);
}

.piweather{
  padding: 30px;
}

.partlycloudy{
  width: 75px;
  height: auto;
}

.footer{
  text-align: center;
  background: linear-gradient(rgb(204, 234, 252), rgb(166, 227, 255));
  height: 37px;
}

.localweather{
  text-align: left;
  font-family: "Segoe UI";
  padding: 30px;
}

.data{
  padding: 30px;
  padding-bottom: 85px;
}

.importedData{
  white-space: pre-wrap;
}

